# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Flask
instance/
.webassets-cache

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Logs
*.log

# Private document storage (files are managed outside Git)
app/web/static/uploads/
storage/
backups/
*.backup
